{% extends "::base.html.twig" %}

{# Toda esta parte sobreescribe las opciones del menu definidas en ::base.html.twig #}
{% block menuIncludes %}
  {{ include('SalitaPacienteBundle:OpcionesMenu:opciones.html.twig') }}
{% endblock %}

{% block opcionesMenuAdministrador %}
  {% set nombreRolSeleccionado = app.session.get('rolSeleccionado').getNombre() %}
  <li><a href="{{path('menu_administrador')}}">Menu de {{nombreRolSeleccionado}}</a></li>
{% endblock %}

{% block opcionesMenuSecretaria %}
  {% set nombreRolSeleccionado = app.session.get('rolSeleccionado').getNombre() %}
  <li><a href="{{path('menu_secretaria')}}">Menu de {{nombreRolSeleccionado}}</a></li>
{% endblock %}

{% block opcionesMenuMedico %}
  {% set nombreRolSeleccionado = app.session.get('rolSeleccionado').getNombre() %}
  <li><a href="{{path('menu_medico')}}">Menu de {{nombreRolSeleccionado}}</a></li>
{% endblock %}
{#----------------------------------------------------------------------------------#}

{# Declaracion de variables comunes utilizadas en casi todos los templates #}
{% block contenido %}
   {% set usuario = app.session.get('usuario') %}
   {% if not(app.session.get('paciente') is empty) %}
     {% set paciente = app.session.get('paciente') %}
   {% endif %}
   {% set rolSeleccionado = app.session.get('rolSeleccionado') %}
   {% set codigoRolSeleccionado = rolSeleccionado.getCodigo() %}
   {% set nombreRolSeleccionado = rolSeleccionado.getNombre() %}
   {% if not(app.session.get('especialidad') is empty) %}
     {% set especialidad = app.session.get('especialidad') %}
     {% set codigoEspecialidad = especialidad.getCodigo() %}
   {% else %}
     {% set codigoEspecialidad = 'NO_TIENE' %}
   {% endif %}
{% endblock %}