{% extends 'PacienteBundle::base.html.twig' %}

{#
{% block menu %}
    <div id="menu">
        <ul>
            {% include 'SalitaPacienteBundle:OpcionesMenu:opciones.html.twig' %}

            {% if rol == 'ROLE_ADMINISTRADOR' %}
                <li><a href="{{path('menu_administrador')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}    

            {% if rol == 'ROLE_SECRETARIA' %}
                <li><a href="{{path('menu_secretaria')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}  

            {% if rol == 'ROLE_MEDICO' %}
                <li><a href="{{path('menu_medico')}}">Menu de {{nombreRol}}</a></li>
            {% endif %} 
        </ul>
    </div>
{% endblock %}
#}

{% block contenido %}
  {%if aplicaciones|length > 0 %}
    <h1 id="tituloCentro">Aplicaciones de vacuna</h1>
    <table>
      <thead><tr><th>Vacuna</th><th>Fecha</th></tr></thead>
      <tbody>
        {% for aplicacion in aplicaciones %}
          <div class="aplicacionVacuna">  
            <tr><td>{{aplicacion.nombre}}</td><td>{{aplicacion.fecha}}</td></tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">- No hay aplicaciones de vacunas -</h4>
  {% endif %}
{% endblock %}