{% extends "::base.html.twig" %}

{% block contenido %}
	<h3>Modificacion de mis datos</h3>
	</br>

	{{ form_start(form) }}
	    {{ form_errors(form) }}
	    <div class="form-group col-sm-8">
	      {{ form_row(form.nombre, { 'attr': { 'placeholder': 'Nombre completo del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.apellido, { 'attr': { 'placeholder': 'Apellido del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.email, { 'attr': { 'placeholder': 'Correo electrónico del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.telefono, { 'attr': { 'placeholder': 'Teléfono del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.matricula, { 'attr': { 'placeholder': 'Matrícula del usuario (en caso de ser médico)' } }) }}
	    </div>
        <div class="form-group col-sm-8">
          <div class="col-sm-offset-4">
            <a href="{{path('fos_user_change_password')}}">Cambiar clave</a>
          </div>
        </div>
	    <div class="form-group col-sm-8">
	      <div class="col-sm-offset-6">
	        {{ form_row(form.modificar) }}
	      </div>
	    </div>
	{{ form_end(form) }}

    <br/>
	{# <a href="{{path('fos_user_change_password')}}">Cambiar clave</a> #}
{% endblock %}