{% extends 'SalitaUsuarioBundle:Menu:menuAdministrador.html.twig' %}

{% set rolSeleccionado = app.session.get('rolSeleccionado') %}
{% set adminexpression = 'user and user.isAuthenticatedAdministrador(' ~ rolSeleccionado ~')' %}
{% set medicoexpression = 'user and user.isAuthenticatedMedico(' ~ rolSeleccionado ~')' %}
{% set secretariaexpression = 'user and user.isAuthenticatedSecretaria(' ~ rolSeleccionado ~')' %}

{% block menu %}
    <div id="menu">
        <ul>

           {# {% if rol == 'ROLE_ADMINISTRADOR' %}
                {% include 'SalitaUsuarioBundle:OpcionesMenu:opcionesAdministrador.html.twig' %}
            {% endif %}    

            {% if rol == 'ROLE_SECRETARIA' %}
                {% include 'SalitaUsuarioBundle:OpcionesMenu:opcionesSecretaria.html.twig' %}
            {% endif %}  

            {% if rol == 'ROLE_MEDICO' %}
                {% include 'SalitaUsuarioBundle:OpcionesMenu:opcionesMedico.html.twig' %}
            {% endif %} #}

            {% if is_granted(expression(adminexpression)) %}
                {{ include('SalitaUsuarioBundle:OpcionesMenu:opcionesAdministrador.html.twig') }}
            {% elseif is_granted(expression(secretariaexpression)) %}
                {{ include('SalitaUsuarioBundle:OpcionesMenu:opcionesSecretaria.html.twig') }}
            {% elseif is_granted(expression(medicoexpression)) %}
                {{ include('SalitaUsuarioBundle:OpcionesMenu:opcionesMedico.html.twig') }}
            {% endif %} 
        </ul>
    </div>
{% endblock %}

{% block contenido %}
	{{ form(form) }}
	<a href="{{path('fos_user_change_password')}}">Cambiar clave</a>
{% endblock %}