{% extends "::base.html.twig" %}

{% block contenido %}
    {# Si bien en este caso basta con generarlo con form(form), lo dejo asi para tener una muestra de codigo
       que me indique como se hace en caso de necesitarlo. 
    #}
	{# {{ form(form, {'action': path('modif_usuario', { 'id': id })}) }} #}

	<h3>Modificacion de usuario {{ form.vars.value.apellido }}, {{ form.vars.value.nombre }}</h3>
	</br
	{{ form_start(form, {'action': path('modif_usuario', { 'id': id })}) }}
	    {{ form_errors(form) }}
	    <div class="form-group col-sm-8">
	      {{ form_row(form.nombre, { 'attr': { 'placeholder': 'Nombre completo del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.apellido, { 'attr': { 'placeholder': 'Apellido del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.email, { 'attr': { 'placeholder': 'Correo electrónico del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.telefono, { 'attr': { 'placeholder': 'Teléfono del usuario' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      {{ form_row(form.matricula, { 'attr': { 'placeholder': 'Matrícula del usuario (en caso de ser médico)' } }) }}
	    </div>
	    <div class="form-group col-sm-8">
	      <div class="col-sm-offset-6">
	        {{ form_row(form.modificar) }}
	      </div>
	    </div>
	{{ form_end(form) }}
{% endblock %}