{% if not(app.session.get('rolSeleccionado') is empty) %}
	{% set rolSeleccionadoQuotes = app.session.get('rolSeleccionado').getCodigoWithQuotes() %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %} Unidad Mosconi {% endblock %}</title>
        {% block stylesheets %}
         <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
         <link href="{{ asset('css/miEstilo.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header-wrapper">
          <div id="header">
              <div id="logo">
                  <h1><a href="#">Unidad Mosconi</a></h1>
                      <p>Facultad de informatica UNLP</a></p>
              </div>

              {% block menu %}
                <div id="menu">
                  <ul>
                    {% block menuIncludes %} {% endblock %}

                    {% if rolSeleccionado is defined %}
                      {% set adminexpression = 'user and user.isAuthenticatedAdministrador(' ~ rolSeleccionadoQuotes ~ ')' %}
                      {% set medicoexpression = 'user and user.isAuthenticatedMedico(' ~ rolSeleccionadoQuotes ~ ')' %}
                      {% set secretariaexpression = 'user and user.isAuthenticatedSecretaria(' ~ rolSeleccionadoQuotes ~ ')' %}
                      
                      {% if is_granted(expression(adminexpression)) %}
                        {% block opcionesMenuAdministrador %}
                          {{ include('SalitaUsuarioBundle:Menu:opciones.html.twig') }}
                        {% endblock %}
                      {% elseif is_granted(expression(secretariaexpression)) %}
                        {% block opcionesMenuSecretaria %}
                          {{ include('SalitaUsuarioBundle:Menu:opciones.html.twig') }}
                        {% endblock %}
                      {% elseif is_granted(expression(medicoexpression)) %}
                        {% block opcionesMenuMedico %}
                          {{ include('SalitaUsuarioBundle:Menu:opciones.html.twig') }}
                        {% endblock %}
                      {% endif %} 
                    {% endif %}
                  </ul>
                </div>
              {% endblock %}
          </div>
        </div>
        
        <div id="contenido">
        <br>
        {% block contenido %} {% endblock %}
        <br>
        </div>
        
        <div id="footer">
	     <p>Unidad Mosconi</p>
        </div>
    </body>
</html>