{% extends 'SalitaPacienteBundle::base.html.twig' %}

{#
{% block menu %}
    <div id="menu">
        <ul>
            {% include 'SalitaPacienteBundle:OpcionesMenu:opciones.html.twig' %}

            {% if rol == 'ROLE_ADMINISTRADOR' %}
                <li><a href="{{path('menu_administrador')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}    

            {% if rol == 'ROLE_SECRETARIA' %}
                <li><a href="{{path('menu_secretaria')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}  

            {% if rol == 'ROLE_MEDICO' %}
                <li><a href="{{path('menu_medico')}}">Menu de {{nombreRol}}</a></li>
            {% endif %} 
        </ul>
    </div>
{% endblock %}
#}

{% block contenido %}
  <h1 id="tituloCentro">Resultado de la búsqueda</h1>
  {% if pacientes|length > 0 %}
    <table>
      <thead><tr><th>Nombre y apellido</th><th></th></tr></thead>
      <tbody>
        {% for paciente in pacientes %}
          <div class="paciente">
            <tr><td>{{paciente.nombre}} {{paciente.apellido}}</td><td><a href="{{ path('seleccion_paciente', { 'idPaciente': paciente.id }) }}">Seleccionar</a></td></tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">- No se han encontrado resultados -</h4>
  {% endif %}
{% endblock %}