{# Codigo para generar un widget de un form de forma personalizada, con su label y errores incluidos.
   Se expuso para ser usado globalmente en app/config.yml, bajo la seccion twig. 
   
   , { 'label_attr': { 'class': 'control-label' } }

   , { 'attr': { 'class': 'form-control' } }
   #}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form %}
{% spaceless %}
    {{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'role': 'form' } }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endspaceless %}
{% endblock form %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {# Si es un submit le agrega las clases btn, btn-primary #}
    {% if type == 'submit' %}
      {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-primary')|trim}) %}
    {% endif %}
    <div class="col-sm-offset-2">
      <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {{ label|trans({}, translation_domain) }}
      </button>
    </div>
{% endspaceless %}
{% endblock button_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    <div class="col-sm-6">
      <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {# Es la unica forma que encontre de agregar las clases control-label y col-sm-2. Si lo hago a traves
           de label_attr falla.
         #}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-sm-2')|trim}) %}
        <div class="col-sm-2">
          <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
          </label>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}