{# Codigo para generar un widget de un form de forma personalizada, con su label y errores incluidos.
   Se expuso para ser usado globalmente en app/config.yml, bajo la seccion twig. #}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form, { 'attr': { 'class': 'col-sm-2', 'class': 'control-label ' } }) }}
        {{ form_errors(form) }}
        {{ form_widget(form, { 'attr': { 'class': 'form-control' } }) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form %}
{% spaceless %}
    {{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'role': 'form' } }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endspaceless %}
{% endblock form %}