{% extends '::base.html.twig' %}

{% block menu %}
    <div id="menu">
        <ul>
            {% include 'SalitaPacienteBundle:OpcionesMenu:opciones.html.twig' %}

            {% if rol == 'ROLE_ADMINISTRADOR' %}
                <li><a href="{{path('menu_administrador')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}    

            {% if rol == 'ROLE_SECRETARIA' %}
                <li><a href="{{path('menu_secretaria')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}  

            {% if rol == 'ROLE_MEDICO' %}
                <li><a href="{{path('menu_medico')}}">Menu de {{nombreRol}}</a></li>
            {% endif %} 
        </ul>
    </div>
{% endblock %}

{% block contenido %}
	¿Confirma el registro de entrega?
	{{ form(form, { 'action': path('alta_entregaplanprocresp'), 'idPlan': id }) }}
	{#<form action="{{ path('alta_entregaplanprocresp', { 'idPlan': id }) }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" />
	</form>#}
{% endblock %}