{% extends "SalitaTurnoBundle::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/errores.css') }}" rel="stylesheet"/>
{% endblock %}

{% block contenido %}
    <h3>Alta de turno inmediato</h3>
    <br/>
    {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group col-sm-12">
        {{ form_row(form.especialidad) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.medicoPreferido, { 'attr': { 'placeholder': 'Medico preferido por el paciente (opcional)' } }) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.motivo, { 'attr': { 'placeholder': 'Motivo que origino el turno' } }) }}
      </div>
      <div class="form-group col-sm-8">
        <div class="col-sm-offset-6">
          {{ form_row(form.guardar) }}
        </div>
      </div>
    {{ form_end(form) }}
{% endblock %}