{% extends "SalitaPacienteBundle::base.html.twig" %}

{# ESTE ES UN CASO ESPECIAL... sirve para todos los antecedentes. Necesito, o dividir los templates o ver si
   en este caso puedo definir los bloques aca (como excepcion) con los divs correspondientes para cada row.
 #}

{% block contenido %}
  <h3>Modificacion de antecedente familiar clinico</h3>
  <br/>

  {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.cardiovascularMenorA55) }}
    {{ form_row(form.asma) }}
    {{ form_row(form.trastornosMentales) }}
    {{ form_row(form.alergias) }}
    {{ form_row(form.adiccionesTabaquismo) }}
    {{ form_row(form.infectoContagiosas) }}
    {{ form_row(form.tuberculosis) }}
    {{ form_row(form.diabetes) }}
    {{ form_row(form.hipertensionArterial) }}
    {{ form_row(form.otros) }}

    {{ form_row(form.modificar) }}

  {{ form_end(form) }}

  {{ form(form) }}
{% endblock %}