{% extends "SalitaOtrosBundle::base.html.twig" %}

{% block contenido %}
	<div class="subtituloMenu">
    	Buscar vacuna:
	</div>
	{# {{ form(form) }} #}
    {{ form_start(form) }}
      {{ form_errors(form) }}

      <div class="form-group col-sm-6">
        {{ form_row(form.palabra) }}
      </div>
      <div class="form-group col-sm-1">
        <div class="col-sm-offset-1">
          {{ form_row(form.buscar) }}
        </div>
      </div>
    {{ form_end(form) }}
{% endblock %}