{% extends '::base.html.twig' %}

{% block menu %}
    <div id="menu">
        <ul>
            {% include 'SalitaPacienteBundle:OpcionesMenu:opciones.html.twig' %}

            {% if rol == 'ROLE_ADMINISTRADOR' %}
                <li><a href="{{path('menu_administrador')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}    

            {% if rol == 'ROLE_SECRETARIA' %}
                <li><a href="{{path('menu_secretaria')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}  

            {% if rol == 'ROLE_MEDICO' %}
                <li><a href="{{path('menu_medico')}}">Menu de {{nombreRol}}</a></li>
            {% endif %} 
        </ul>
    </div>
{% endblock %}

{% block contenido %}
<form action="{{ path('seleccion_fecHor_futuro') }}" method="post" {{ form_enctype(form) }}>
  <div id="fechasB">
    <label> Fecha: </label>
        {{ form_row(form.dia) }} {{ form_row(form.mes) }} {{ form_row(form.anio) }}
    <br />
    <label> Hora </label>
        {{ form_row(form.hora) }} {{ form_row(form.minutos) }}
    <br />
    {{ form_rest(form) }}

    <input type="submit" />
  </div>
</form>
{% endblock %}
