<li class="current_page_item"><a href="{{path('menu_administrador')}}">Principal</a></li>
<li><a href="{{path('modif_usuario_propio')}}">Mis Datos</a></li>
<li><a href="{{path('menu_paciente')}}">Pacientes</a></li>
<li><a href="{{path('listado_turnos')}}">Turnos del dia</a></li>
<li><a href="{{path('fos_user_security_logout')}}">Salir</a></li>