{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/historiaclinica/principal.css') }}" rel="stylesheet"/>
{% endblock %}

{% block contenido %}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionDatosFiliatorios.html.twig') }}

  <div class="row">
      <div class="col-sm-3">
          {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesPersonalesClinicos.html.twig', 
             { antecedentePC: antecedentePC }) }}
      </div>  
      <div class="col-sm-3">
          {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesPersonalesObstetricos.html.twig', 
             { antecedentePO: antecedentePO }) }}
      </div>      
      <div class="col-sm-3">
          {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesFamiliaresClinicos.html.twig', 
             { antecedenteFC: antecedenteFC }) }}
      </div>    
      <div class="col-sm-3">
          {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesFamiliaresObstetricos.html.twig', 
             { antecedenteFO: antecedenteFO }) }}
      </div>
  </div>

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionConsultas.html.twig', 
     { consultas: consultas, estudios: estudios }) }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAplicacionesVacunas.html.twig', 
     { aplicaciones: aplicaciones }) }}

  {% set nomUsuarioGenerador = usuarioGenerador.getNombre() %}
  {% set apeUsuarioGenerador = usuarioGenerador.getApellido() %}
  
  <div class="row">
	  <h3 class="generadaPor">
	      {% trans with {'%nombreUsuarioGenerador%': nomUsuarioGenerador, '%apellidoUsuarioGenerador%': apeUsuarioGenerador} %}
	          pacientebundle.HistoriaClinica.generacionHC.footer
	      {% endtrans %}
	  </h3>
  </div>
{% endblock %}