{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionDatosFiliatorios.html.twig') }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesPersonalesClinicos.html.twig', 
     { antecedentePC: antecedentePC }) }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesPersonalesObstetricos.html.twig', 
     { antecedentePO: antecedentePO }) }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesFamiliaresClinicos.html.twig', 
     { antecedenteFC: antecedenteFC }) }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAntecedentesFamiliaresObstetricos.html.twig', 
     { antecedenteFO: antecedenteFO }) }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionConsultas.html.twig', 
     { consultas: consultas, estudios: estudios }) }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionAplicacionesVacunas.html.twig', 
     { aplicaciones: aplicaciones }) }}

  <h3>Historia clínica generada por {{usuarioGenerador.nombre}} {{usuarioGenerador.apellido}}</h3>

{% endblock %}