{% extends '::base.html.twig' %}

{% block menu %}
    <div id="menu">
        <ul>
            {% include 'SalitaPacienteBundle:OpcionesMenu:opciones.html.twig' %}

            {% if rol == 'ROLE_ADMINISTRADOR' %}
                <li><a href="{{path('menu_administrador')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}    

            {% if rol == 'ROLE_SECRETARIA' %}
                <li><a href="{{path('menu_secretaria')}}">Menu de {{nombreRol}}</a></li>
            {% endif %}  

            {% if rol == 'ROLE_MEDICO' %}
                <li><a href="{{path('menu_medico')}}">Menu de {{nombreRol}}</a></li>
            {% endif %} 
        </ul>
    </div>
{% endblock %}

{% block contenido %}

{% include "SalitaPacienteBundle:HistoriaClinica:datosFiliatorios.html.twig" %}

{% include "SalitaPacienteBundle:HistoriaClinica:consultas.html.twig" %}

<h3>Resumen de Historia clinica generado por {{usuarioGenerador.nombre}} {{usuarioGenerador.apellido}}</h3>
{% endblock %}
