{% set paciente = app.session.get('paciente') %}

<p><h1 id="pac">{{paciente.apellido}}, {{paciente.nombre}}</h1></p>
<div class="tituloSeccion">Datos Filiatorios</div><br>
<p>
  <span class="caja1">
    <span class="aux"> Nombre completo:</span> <span class="datos">{{paciente.nombre}} {{paciente.apellido}}</span><br>
    <span class="aux"> Tipo y nro. de documento:</span> 
    <span class="datos">{{paciente.tipoDocumento.nombre}} - {{paciente.nroDoc}}</span><br>
    <span class="aux"> Télefono móvil:</span> 
    <span class="datos">{{paciente.telefonoMovil}}</span><br>
    <span class="aux"> Domicilio:</span>
    <span class="datos">{{paciente.calle}} Nº {{paciente.numero}} e/ {{paciente.calleEntre1}} y {{paciente.calleEntre2}}, {{paciente.barrio}}, {{paciente.localidad}} - {{paciente.partido}}, {{paciente.pais}}</span><br>
  </span>
  <span class="caja2">
    <span class="aux"> Sexo:</span>
    <span class="datos">{% if paciente.isMujer() %}Femenino{% else %}Masculino{% endif %}</span><br>
    <span class="aux"> Fecha de nacimiento:</span>
    <span class="datos">{{paciente.fechaNacimiento|date("d/m/Y")}}</span><br>
    <span class="aux"> Télefono fijo:</span>
    <span class="datos">{{paciente.telefonoFijo}}</span><br>
  </span>
</p>
<br>