{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/paciente/alta.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax_paciente.js') }}"></script>
{% endblock %}

{# Para hacer customizaciones en la renderizacion de widgets que solo sean utilizadas en este template #}
{% form_theme form _self %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple %}
        {% set required = false %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
    {# Modificacion para que achique los selects correspondientes al dia, mes y año #}
    {% if id == "registroDatosFiliatorios_fechaNacimiento_day" or
       id == "registroDatosFiliatorios_fechaNacimiento_month" %}
      {% set col = "col-sm-3" %}
    {% elseif id == "registroDatosFiliatorios_fechaNacimiento_year" %}
      {% set col = "col-sm-2" %}
    {% else %}
      {% set col = "col-sm-8" %}
    {% endif %}
    <div class="{{ col }}"> {# Fin de la modificacion #}
      <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
          {% if empty_value is not none %}
              <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
          {% endif %}
          {% if preferred_choices|length > 0 %}
              {% set options = preferred_choices %}
              {{ block('choice_widget_options') }}
              {% if choices|length > 0 and separator is not none %}
                  <option disabled="disabled">{{ separator }}</option>
              {% endif %}
          {% endif %}
          {% set options = choices %}
          {{ block('choice_widget_options') }}
      </select>
    </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block contenido %}

  <h3>Registro de paciente</h3>
  <br/>

  {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group col-sm-8">
      {{ form_row(form.tipoDocumento) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.nroDoc, { 'attr': { 'placeholder': 'Numero de documento' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.nombre, { 'attr': { 'placeholder': 'Nombre del paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.apellido, { 'attr': { 'placeholder': 'Apellido del paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.fechaNacimiento) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.sexo) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.telefonoFijo, { 'attr': { 'placeholder': 'Numero de telefono fijo del paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.telefonoMovil, { 'attr': { 'placeholder': 'Numero de telefono celular del paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.pais, { 'attr': { 'placeholder': 'Pais de origen del paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.partido, { 'attr': { 'placeholder': 'Partido donde reside el paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.localidad, { 'attr': { 'placeholder': 'Localidad donde reside el paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.barrio, { 'attr': { 'placeholder': 'Barrio donde reside el paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.calle, { 'attr': { 'placeholder': 'Calle donde reside el paciente' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.numero, { 'attr': { 'placeholder': 'Numero de la direccion' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.calleEntre1, { 'attr': { 'placeholder': 'Entre calle' } }) }}
    </div>
    <div class="form-group col-sm-8">
      {{ form_row(form.calleEntre2, { 'attr': { 'placeholder': 'Y calle' } }) }}
    </div>

    <div class="form-group col-sm-8">
      <div class="col-sm-offset-6">
        {{ form_row(form.guardar) }}
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}